<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Inicio</title>
<link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<header>
<nav>
<a th:href="@{/}">Inicio</a>
<a th:href="@{/novedades}">Novedades</a>
<a th:href="@{/categoria}">Categorías</a>
<a th:href="@{/contacto}">Contacto</a>
</nav>
</header>
<h2>Lista de usuarios</h2>
<table class="table">
  <caption>List of users</caption>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="user : ${listausuarios}">
      <td th:text=${user.id}></td>
      <td th:text=${user.nombre}></td>
      <td th:text=${user.correo}></td>
      <td th:text=${user.password}></td>
    </tr>
  </tbody>
</table>
</html>