/* ============================
   NORMALIZE.CSS
   ============================ */
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

main {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}


/* ============================
   TUS ESTILOS PERSONALIZADOS
   ============================ */

/*configurales globales en css*/
:root{
    --fondo:rgb(255, 255, 255);
    --colorFooter:#000;
    --colorHeader:rgba(2, 2, 19, 0.438);

    --textos:'Roboto', sans-serif;
    --titulos:'Lato', sans-serif;
    --colorTextos:#000;
}

body{
    font-family:var(--textos);
    color: var(--colorTextos);
    font-size: 1.2rem;
}

*{
    box-sizing: border-box;
}

h1{
    font-family:var(--titulos);
    color: var(--colorTextos);
    font-size:3.5rem;
    text-align: center;
    font-weight: bold;
}

h2{
    font-family:var(--titulos);
    color: var(--colorTextos);
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
}

.home-wrapper{
    background:linear-gradient(rgba(235, 229, 229, 0.603),rgba(17, 17, 17, 0.746)),url('../images/background.png') no-repeat center top;
    background-size: cover;
    color:var(--fondo);
    height: 100vh;
}

header{
    width: 100%;
    position:fixed;
    padding: 10px 0;
}

header img{
    width: 150px;
    height: 80px;
}

header nav{
    float: right;
    margin-top: 8px;
}

header nav a{
    color: var(--fondo);
    text-decoration: none;
    font-weight: 700;
    margin-left: 10px;
    padding: 10px 15px;
}

header nav a.active{
    background-color: rgb(226, 192, 42);
    border-radius: 3px;
}

header nav a:hover{
    color: rgb(202, 223, 18);
}

header nav a.active:hover{
    color:#000;
}

.container{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

#home{
    text-align: center;
    padding: 250px 0 150px;
}

#home h1{
    color:white;
    margin-bottom: 45px;
    line-height: 1.2;
}

#home .divider{
    width:90px;
    border-top: 5px solid rgb(226, 192, 42);
    margin: 0 auto;
}

#home p{
    margin-top: 40px;
    color: white;
    padding-left: 185px;
}

section{
    padding: 80px 0;
}

section h2{
    text-align: center;
    margin-bottom: 65px;
    font-size: 3rem;
    font-weight: bold;
}

p{
    text-align: justify;
}

#categoria .box{
    display: inline-block;
    width: 33%;
    padding: 8px;
}

#categoria .box img{
    padding-left: 30%;
    padding-bottom: 10px;
    width: 80%;
}

#categoria .box h3{
    text-align: center;
}

.contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.imagen{
    flex: 1;
}

.texto{
    flex: 2;
    margin: 0px 15px;
}

.imagen img{
    max-width: 100%;
    height: auto;
}

#novedades .box{
    display: inline-block;
    width: 33%;
    padding: 1%;
    text-align: center;
}

#novedades .box img{
    width: 50%;
}

footer{
    width: 100%;
    background-color: grey;
    text-align: center;
    color: #fff;
    font-size: 16px;
    padding: 20px 0;
}

footer img{
    width: 100px;
    height: auto;
}

#contacto{
    background-image: url('../images/map-image.png');
    background-color: grey;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    background-size: cover;
}

#contacto h2{
    color:#fff;
}

#contacto input,
textarea,
select{
    width: 600px;
    padding: 20px 10px;
    border-radius: 5px;
    font-size: 16px;
    line-height: 1;
    background-color: rgb(248, 246, 246);
    font-weight: bold;
}

select{
    margin-bottom: 30px !important;
}
