<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novedades</title>
    <link rel="stylesheet" th:href="@{/CSS/styles.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,400&display=swap" rel="stylesheet">
    

</head>
<body>
    <div class="home-wrapper">
        <header>
            <div class="container">
                <img th:src="@{/images/logo.jpg}" alt="Logo">
                <nav>
                    <a th:href="@{/}" class="btn btn-primary">Home</a>
                    <a th:href="@{/novedades}" class="btn btn-primary">Novedades</a>
                    <a th:href="@{/categoria}" class="btn btn-primary">Categoria</a>
                    <a th:href="@{/contacto}" class="btn btn-primary">Contacto</a>
                </nav>
            </div>
        </header>
    </div>

    <section class="container" id="novedades">
        <h2>Novedades</h2>

        <div class="box">
            <img th:src="@{/images/novedades/book1.jpg}" alt="Libro 1">
            <h3>Novedad 1</h3>
            <p>Tafur está en prisión. Trata de reconstruir su vida a través de sus memorias para llegar a entender qué lo llevó a cometer ese cruel asesinato. Una extraña enfermedad que lo aqueja desde pequeño ha hecho que se mueva entre dos extremos: una vida tranquila pero llena de horribles visiones.</p>
        </div>

        <div class="box">
            <img th:src="@{/images/novedades/book2.jpg}" alt="Libro 2">
            <h3>Novedad 2</h3>
            <p>Probablemente no podrás evitar que al entregar tu corazón, en cualquier tipo de relación interpersonal, puedas llegar a recibir alguna dosis de dolor. Para algunos es el engaño, para otros la traición; en el peor de los casos es el abuso, incluso, recibido por parte de aquellos que se suponía, debían cuidar de ti.</p>
        </div>

        <div class="box">
            <img th:src="@{/images/novedades/book3.jpg}" alt="Libro 3">
            <h3>Novedad 3</h3>
            <p>Muchas personas que creemos no hacerle daño a los demás, que luchamos en busca de muchos propósitos, hacemos buenas obras y además oramos, no logramos los objetivos y, lo que es peor, a veces nos estancamos y perdemos la esperanza. Existen momentos en nuestra vida en los que sentimos que algo nos hace falta.</p>
        </div>
    </section>

    <div class="contenedor">
        <div class="imagen">
            <img th:src="@{/images/2.png}" alt="Nueva colección">
        </div>
        <div class="texto">
            <h2>Nueva colección</h2>
            <p>De la diversidad de fauna y flora en Colombia surge una variada gastronomía esencialmente criolla, con poca influencia de cocinas extranjeras. Los platillos colombianos varían en preparación e ingredientes por región e incorporan las tradiciones de las culturas española, indígena y negra.<br><br>
            Algunos de los ingredientes más comunes en las preparaciones son cereales como el arroz y el maíz, tubérculos como la papa y la yuca, variedades de leguminosas (fríjoles), carnes como la de vaca, gallina, cerdo, cabra, cuy, pescados y mariscos.</p>
        </div>
    </div>

    <footer class="cover">
        <img th:src="@{/images/logo.jpg}" alt="Logo">
        &copy;2024.Medellín-Antioquia.
    </footer>
</body>
</html>